<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <div class="is-title is-h1">Welcome to Feisbu</div>
    <div class="container">
        <p>
            You have succesfully signed up to Fesibu.
        </p>
    </div>
</body>
</html>