<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbolinks-visit-control" content="reload">
    <title>Feisbu</title>
</head>
<body>    
    <div id="post-form"><%= render "post_form" %></div>
    <br>
    <div id="post-container"><%= render "post_display" %></div>
</body>
</html>
